:root{
    --teal_color: #156064;
    --black: #0a0a0a;
    --white: #fff;
    --blue_one:#1f6283;
    --gray: #e4e3e363;
    --blending_blue: #2d97fa;
    --yellow: #f8e16c;
    --green:#00c49a;
    --green_opaque:#60fcda2c;
    --orange:   #Fb8f67;
    --pink:#ffc2b4;
    --red:#FF0000;
    --red-opaque:#fd65652a;
}