@use '../utils/' as u;
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
i{
    color:var(--yellow);
    cursor: pointer;
}
span{
    color: var(--white);
}
h1{
    color: var(--white);
}
th, td{
    padding: 4px 4px;
} 